html{
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  width: 100%;
}

body{
  background-color: white;
  font-family: avenirnextltpro-regular,helvetica,arial,sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
header{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 500px;
}
#main h1{
  font-size: 60px;
  line-height: 1;
  padding: 50px 0;
  padding-top: 100px;
  text-align: left;
  color: black;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
}
#main p {
  text-align: left;
  line-height:30px;
  font-size: 20px;
  padding: 0px;
  font-family: 'Libre Baskerville', serif;
}

h2{
  width: 60%;
  margin: 0 auto;
  font-size: 25px;
  line-height: 1;
  padding: 50px 0;
  text-align: left;
  color: black;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
}
h3{
  width: 60%;
  margin: 0 auto;
  font-size: 30px;
  line-height: 1;
  padding: 50px 0;
  text-align: left;
  color: black;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
}
.finding_image_one p{
  text-align: left;
  line-height:30px;
  font-size: 20px;
  padding: 0px;
  font-family: 'Libre Baskerville', serif;

}
.finding_image_one ul li{
  text-align: left;
  line-height:30px;
  font-size: 20px;
  padding: 0px;
  font-family: 'Libre Baskerville', serif;
}
#closeLook{
  width: 60%;
  margin: 0 auto;
  font-size: 30px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
}
#innerChart-age{
  width: 60%;
  margin: 0 auto;
}
#innerChart-age p{
  text-align: left;

  line-height:30px;
  font-size: 20px;
  padding: 0px;
  font-family: 'Libre Baskerville', serif;
}
.Gender-Continent{
  width: 60%;
  margin: 0 auto;
}
.Gender-Continent p{
  text-align: left;
  line-height:30px;
  font-size: 20px;
  padding: 0px;
  font-family: 'Libre Baskerville', serif;

}
.conclusion{
  width: 60%;
  margin: 0 auto;
}
.conclusion p{
  text-align: left;
  line-height:30px;
  font-size: 20px;
  padding: 0px;
  font-family: 'Libre Baskerville', serif;
}
#conclusion_title{
  width: 60%;
  margin: 0 auto;
  font-size: 30px;
  line-height: 1;
  padding: 50px 0;
  text-align: left;
  color: black;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
}
.navigation{
  position: fixed;
  margin: 0px auto;
  left: 0;
  right: 0;
  height: 40px;
  padding: 0px;
  color: black;
  /* background: blanchedalmond; */
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
  border-bottom-color: tomato;
  
}
.navigation ul{
  padding: 10px;
  top:0;
  bottom: 0;
  list-style-type: none;

  
}

.navigation li{
  display: inline;
  padding: 30px;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
}

.navigation a{
  margin: 25px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.navigation a:hover{
  /* text-decoration: underline; */
  color:#f43e06;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus {
  top: 0px;
}

/* a:hover{
  border: 2px solid black;
} */
/* :focus{
  outline: none;
  border: 2px solid black;
} */


footer{
  background-color: black;
  width: 100%;
  color: white;
  padding:15px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}



.finding_image_one img{
  width: 800px;
}
.finding_image_one{
  width: 60%;
  margin: 0 auto;
}
#age-year-img{
  width: 85%;
  margin-left: 20px;
  margin-top: -190px;
}
#reference{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}
#reference li{ 
  font-family: 'Libre Baskerville', serif;
}
header{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 200px;
  /* padding-bottom: 400px; */
}

header p{
  color: black;
  font-size: 16px;
  padding: 0 100px;
  text-align: center;
}

.text-block{
  align-self: center;
  justify-self: center;
  padding: 30px;
}
.bubbleChart{
  margin: auto;
  width: 60%;
}
#innerChart-age{
  margin: auto;
  width: 60%;
}
.ageChart{
  margin: auto;
  width: 60%;
}
#sexd3{

  height: 200px;
  width: 60%;
  margin: 0 auto;
}
object{
  width: 1000px;
  height: 500px;
}

.conclusion{
  text-align: center;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: initial;
    transition: initial;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
